<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my-robot-urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import my-robot-urdf urdf file -->
    <xacro:include filename="$(find perseus_arm)/robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="my-robot-urdf.ros2_control.xacro" />


    <xacro:my-robot-urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
